# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
staticfiles/
media/

# Virtual environment
.venv/
venv/

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Docker
docker-compose.override.yml